# Maven Power Outage Challenge

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import folium 
import openpyxl

## Step 0. Initial exploration of the data - it is messy!

In [2]:
# Define the sheet names in a list so that we can easily iterate through the excel sheets (tabs). 
# Each sheet is a year between 2002 and 2023

sheet_names = []
for n in range(2002, 2024, 1):
    sheet_names.append(str(n))

In [3]:
# Creating a dictionary of dataframes, one dataframe per excel sheet. 
# this will allow us to tailor our data cleaning to the individual sheet since the format of the sheet changes over the years.

DataFrame_dict = {}


for sheet in sheet_names:
    if sheet in ["2002", "2008"]:
        header_value = 2
    else:
        header_value = 1
    
    DataFrame_dict["sheet{0}".format(sheet)] = pd.read_excel('DOE_Electric_Disturbance_Events.xlsx', engine='openpyxl', header=header_value, sheet_name=sheet)

In [4]:
# Now each excel sheet has been transformed to a dataframe, and I have taken into acocunt the header rows of the original sheets.

In [5]:
# Check out one of the dataframes to see if we get the data we expect:
DataFrame_dict["sheet2008"].head()

,Date,NERC Region,Time,Area Affected,Type of Disturbance,Loss (megawatts),Number of Customers Affected 1,Restoration,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Date/Time,NaN,NaN,NaN,NaN
1,January,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2008-01-04 00:00:00,WECC,4:00 a.m.,Northern California,Winter Storm,500,2606931,5:00 p.m. January 14,NaN,NaN,NaN,NaN
3,2008-01-04 00:00:00,WECC,7:47 a.m.,Sacramento County,Severe Storm,300,150000,4:30 p.m. January 04,NaN,NaN,NaN,NaN
4,2008-01-29 00:00:00,WECC,5:00 a.m.,"San Francisco Bay Area, California",Exciter Faulted,NaN,-,12:17 p.m. January 29,NaN,NaN,NaN,NaN

The data above is what I expect, however it is still very messy! but before I start cleaning each individual dataframe 
I would like to create one single dataframe which stores all the data. To do this will involve a few steps:
- First, I need to make sure columns in each dataframe match (i.e. contain the same feature information)
- then I wil concatenate thesource dataframes to create a single datasource

In [6]:
# before I look at the column names for each dataframe let's determine how we will concatenate two dataframes:

example_df1 = pd.DataFrame(
    {
        "ID": [78, 88, 98],
        "Name": ["Nick", "Stan", "Ludwig"],
        "CGPA": [2.3, 2.5, 3.2],
        "Dept": ["EEE", "BA", "LAW"],
        "Region": ["Puerto Rico", "Miami", "Malmo"]
    })

example_df1

   ID    Name  CGPA Dept       Region
0  78    Nick   2.3  EEE  Puerto Rico
1  88    Stan   2.5   BA        Miami
2  98  Ludwig   3.2  LAW        Malmo

In [7]:
example_df2 = pd.DataFrame(
    {
        "ID": [15, 16, 17, 18, 19],
        "Name": ["Abid", "Matthew", "Nisha", "Natassha", "Nahla"],
        "CGPA": [2.3, 3.0, 3.9, 2.5, 3.2],
        "Dept": ["EEE", "IT", "CS", "BA", "LAW"],
        "Region": ["Islamabad", "Ontario", "London", "Saba", "Denver"],
    })

example_df2

   ID      Name  CGPA Dept     Region
0  15      Abid   2.3  EEE  Islamabad
1  16   Matthew   3.0   IT    Ontario
2  17     Nisha   3.9   CS     London
3  18  Natassha   2.5   BA       Saba
4  19     Nahla   3.2  LAW     Denver

In [8]:
combined_dataframe = example_df1.append(example_df2)
combined_dataframe

   ID      Name  CGPA Dept       Region
0  78      Nick   2.3  EEE  Puerto Rico
1  88      Stan   2.5   BA        Miami
2  98    Ludwig   3.2  LAW        Malmo
0  15      Abid   2.3  EEE    Islamabad
1  16   Matthew   3.0   IT      Ontario
2  17     Nisha   3.9   CS       London
3  18  Natassha   2.5   BA         Saba
4  19     Nahla   3.2  LAW       Denver

In [9]:
# Now that I know how to concatenate two dataframes in pandas lets explore the column titles for each dataframe:
column_title_dictionary = {}
for sheet in sheet_names: #Note: sheet_names is defined at the top of this notebook
    column_title_dictionary["sheet{0}".format(sheet)] = DataFrame_dict["sheet{0}".format(sheet)].columns.tolist()

column_title_df = pd.DataFrame.from_dict(column_title_dictionary, orient='index') #use the orient argument to make the keys of the dictionary equivalent to the index values of the dataframe
column_title_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
sheet2002,Date,NERC Region,Time,Area,Type of Disturbance,Loss (megawatts),Number of Customers Affected,Restoration Time,None,None,None,None,None,None,None,None,None,None,None
sheet2003,Date,NERC Region,Time,Area Affected,Type of Disturbance,Loss (megawatts),Number of Customers Affected 1,Restoration,None,None,None,None,None,None,None,None,None,None,None
sheet2004,Date,NERC Region,Time,Area Affected,Type of Disturbance,Loss (megawatts),Number of Customers Affected 1,Restoration,None,None,None,None,None,None,None,None,None,None,None
sheet2005,Date,NERC Region,Time,Area Affected,Type of Disturbance,Loss (megawatts),Number of Customers Affected 1,Restoration,None,None,None,None,None,None,None,None,None,None,None
sheet2006,Date,NERC Region,Time,Area Affected,Type of Disturbance,Loss (megawatts),Number of Customers Affected 1,Restoration,None,None,None,None,None,None,None,None,None,None,None
sheet2007,Date,NERC Region,Time,Area Affected,Type of Disturbance,Loss (megawatts),Number of Customers Affected 1[1],Restoration,None,None,None,None,None,None,None,None,None,None,None
sheet2008,Date,NERC Region,Time,Area Affected,Type of Disturbance,Loss (megawatts),Number of Customers Affected 1,Restoration,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,None,None,None,None,None,None,None
sheet2009,Date,NERC Region,Time,Area Affected,Type of Disturbance,Loss (megawatts),Number of Customers Affected 1,Restoration,None,None,None,None,None,None,None,None,None,None,None
sheet2010,Date,NERC Region,Time,Area Affected,Type of Disturbance,Loss (megawatts),Number of Customers Affected 1,Restoration,None,None,None,None,None,None,None,None,None,None,None
sheet2011,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Event Type,Demand Loss (MW),Number of Customers Affected,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
sheet2012,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Event Type,Demand Loss (MW),Number of Customers Affected,Unnamed: 9,Unnamed: 10,Unnamed: 11,None,None,None,None,None,None,None
sheet2013,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Event Type,Demand Loss (MW),Number of Customers Affected,None,None,None,None,None,None,None,None,None,None
sheet2014,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Event Type,Demand Loss (MW),Number of Customers Affected,Unnamed: 9,Unnamed: 10,Unnamed: 11,None,None,None,None,None,None,None
sheet2015,Month,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Alert Criteria,Event Type,Demand Loss (MW),Number of Customers Affected,Unnamed: 11,None,None,None,None,None,None,None
sheet2016,Month,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Alert Criteria,Event Type,Demand Loss (MW),Number of Customers Affected,Unnamed: 11,None,None,None,None,None,None,None
sheet2017,Month,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Alert Criteria,Event Type,Demand Loss (MW),Number of Customers Affected,Unnamed: 11,None,None,None,None,None,None,None
sheet2018,Month,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Alert Criteria,Event Type,Demand Loss (MW),Number of Customers Affected,None,None,None,None,None,None,None,None
sheet2019,Month,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Alert Criteria,Event Type,Demand Loss (MW),Number of Customers Affected,None,None,None,None,None,None,None,None
sheet2020,Month,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Alert Criteria,Event Type,Demand Loss (MW),Number of Customers Affected,None,None,None,None,None,None,None,None
sheet2021,Month,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Alert Criteria,Event Type,Demand Loss (MW),Number of Customers Affected,None,None,None,None,None,None,None,None
sheet2022,Month,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Alert Criteria,Event Type,Demand Loss (MW),Number of Customers Affected,None,None,None,None,None,None,None,None
sheet2023,Event Year,Event Month,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Alert Criteria,Event Type,Demand Loss (MW),Number of Customers Affected,None,None,None,None,None,None,None

In [10]:
post_cleaning_column_titles = ["datetime_event_began", "NERC_region", "area_affected", "event_type", "demand_loss_(MW)", "number_of_customers_affected", "datetime_of_restoration"]
print(len(post_cleaning_column_titles)) # In our cleaned and concatenated dataframe I will have 7 columns

7

### How will I manipulate the dataframes so that I have seven consistent features accross all dataframes?
From 2002 to 2010:
- reorder columns so that columns 1 and 2 switch places(i.e. "Time" comes before NERC Region)
- concatenate columns 0 and 1. This value will override existing column 0 and should leave you with one column that containes datetime_event_begins
- rename columns so that they match the names from post_cleaning_column_titles

From 2011 to 2014:
-

In [11]:
# for the dataframes containing data from 2002 to 2010, reorder columns so that columns 1 and 2 switch places(i.e. "Time" comes before NERC Region)
for sheet in list(range(2002,2011,1)):
    temp_cols_list = DataFrame_dict["sheet{0}".format(sheet)].columns.tolist()
    save_col1 = temp_cols_list[1] 
    temp_cols_list[1] = temp_cols_list[2]
    temp_cols_list[2] = save_col1
    DataFrame_dict["sheet{0}".format(sheet)] = DataFrame_dict["sheet{0}".format(sheet)][temp_cols_list]

DataFrame_dict["sheet2002"]

,Date,Time,NERC Region,Area,Type of Disturbance,Loss (megawatts),Number of Customers Affected,Restoration Time
0,January,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2002-01-30 00:00:00,06:00:00,SPP,Oklahoma,Ice Storm,500,1881134,2002-02-07 12:00:00
2,None,None,NaN,NaN,NaN,NaN,NaN,None
3,2002-01-29 00:00:00,Evening,SPP,Metropolitan Kansas City Area,Ice Storm,500-600,270000,NaN
4,2002-01-30 00:00:00,16:00:00,SPP,Missouri,Ice Storm,210,95000,2002-02-10 21:00:00
5,February,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2002-02-27 00:00:00,10:48:00,WSCC,California,Interruption of Firm Load,300,255000,2002-02-27 11:35:00
7,March,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2002-03-09 00:00:00,00:00:00,ECAR,Lower Peninsula of Michigan,Severe Weather,190,190000,2002-03-11 12:00:00
9,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2002-04-08 00:00:00,15:00:00,WSCC,Arizona,Vandalism/,0,0,2002-04-09 00:00:00
11,None,None,NaN,NaN,Insulators,NaN,NaN,None
12,July,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2002-07-09 00:00:00,12:27:00,WSCC,California,Interruption of Firm Power,240,1 PG&E,2002-07-09 19:54:00
14,2002-07-19 00:00:00,11:51:00,WSCC,California,Interruption of Firm Power (Unit Tripped),240,1 PG&E,2002-07-19 16:30:00
15,2002-07-20 00:00:00,12:40:00,NPCC,New York,Fire,278,63500,2002-07-20 20:12:00
16,August,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2002-08-02 00:00:00,12:43:00,MAIN,Illinois,Interruption of Firm Power,232,53565,2002-08-02 18:36:00
18,2002-08-09 00:00:00,08:23:00,SERC,Florida,Interruption of Firm Power,51,25000,2002-08-09 12:13:00
19,2002-08-25 00:00:00,03:41:00,WSCC,California,Interruption of Firm Power,120,1 PG&E,2002-08-25 09:17:00
20,2002-08-28 00:00:00,14:09:00,SERC,Florida,Severe Weather,67.6,25000,2002-08-28 15:38:00
21,October,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2002-10-03 00:00:00,03:33:00,SPP,Coastal Areas of Southern Louisiana,Hurricane Lily,NaN,242910,2002-10-12 00:00:00
23,November,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2002-11-06 00:00:00,22:00:00,WSCC,Northern and Central California,Winter Storm,270,939000,Noon November 10
25,2002-11-17 00:00:00,15:48:00,NPPC,"Northport, NY",Cable Tripped,0,0,Unknown
26,None,None,NaN,"Norwalk, CT",NaN,NaN,NaN,NaN
27,2002-11-17 00:00:00,06:00:00,NPCC,Northwest and North Central Connecticut,Ice Storm,NaN,224912,2002-11-21 08:00:00
28,December,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2002-12-03 00:00:00,18:30:00,SPP,Arkansas,Ice Storm,NaN,43000,2002-12-09 22:30:00
30,2002-12-11 00:00:00,13:09:00,SERC,Northern Virginia to Fredericksburg,Winter Storm,63,130000,2002-12-13 22:00:00
31,None,None,NaN,Staunton to Harrisonburg,NaN,NaN,NaN,None
32,2002-12-14 00:00:00,11:00:00,WSCC,Northern and Central California,Winter Storm,180,1.5 million,2002-12-19 16:00:00
33,2002-12-19 00:00:00,06:00:00,WSCC,Northern and Central California,Winter Storm,56,385000,2002-12-21 17:00:00
34,2002-12-25 00:00:00,17:00:00,MAAC,Eastern Pennsylvania,Winter Storm,250,106000,2002-12-26 05:00:00
35,2002-12-25 00:00:00,10:00:00,MAAC,"Reading, York, Hanover, Hamburg Pennsylvania",Winter Storm,NaN,95630,2002-12-27 08:30:00
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Note: North American Electric Reliability Coun...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,"Source: Form EIA-417, ""Electric Emergency Inc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Lets create a function that takes a dataframe, iterates through the rows, and checkes that the "Date" column to a 
# datetime datatype. otherwise it drops the row because this indicates the row is an unexpected format and most likely a human readable marker.

from datetime import datetime

def drop_non_datetime_values(dataframe_name, column_name):
    for ind, row in dataframe_name.iterrows():
        if type(dataframe_name[column_name][ind]) == datetime:
            pass
        else:
            dataframe_name.drop(axis=0, index=ind, inplace=True)
    return dataframe_name

In [13]:
# Removing rows from the dataframe that are redundant or that repeat the column names.
for sheet in list(range(2002,2011,1)):
    drop_non_datetime_values(DataFrame_dict["sheet{0}".format(sheet)], "Date")

In [14]:
DataFrame_dict["sheet2002"].head()

,Date,Time,NERC Region,Area,Type of Disturbance,Loss (megawatts),Number of Customers Affected,Restoration Time
1,2002-01-30 00:00:00,06:00:00,SPP,Oklahoma,Ice Storm,500,1881134,2002-02-07 12:00:00
3,2002-01-29 00:00:00,Evening,SPP,Metropolitan Kansas City Area,Ice Storm,500-600,270000,NaN
4,2002-01-30 00:00:00,16:00:00,SPP,Missouri,Ice Storm,210,95000,2002-02-10 21:00:00
6,2002-02-27 00:00:00,10:48:00,WSCC,California,Interruption of Firm Load,300,255000,2002-02-27 11:35:00
8,2002-03-09 00:00:00,00:00:00,ECAR,Lower Peninsula of Michigan,Severe Weather,190,190000,2002-03-11 12:00:00

In [15]:
# We have discovered some "Time" value that can not be changed to a time datatype due to how 
# they have been entered into the database. I will change Ëvening" to "20:00:00". I will adjust these one-by-one to preserve as much information as possible
DataFrame_dict["sheet2002"].loc[3, "Time"] = "20:00:00"
DataFrame_dict["sheet2003"].loc[56, "Time"] = "15:00:00"
DataFrame_dict["sheet2003"].loc[78, "Time"] = "12:00:00"
DataFrame_dict["sheet2004"].loc[3, "Time"] = "00:00:00"
DataFrame_dict["sheet2004"].loc[81, "Time"] = "09:52:00"
DataFrame_dict["sheet2005"].loc[13, "Time"] = "17:28:00"
DataFrame_dict["sheet2005"].loc[21, "Time"] = "00:00:00"
DataFrame_dict["sheet2006"].loc[12, "Time"] = "00:00:00" # Original value = "Ongoing"

# This is the code I used to find the index value of the problematic time data:
# DataFrame_dict["sheet2006"][DataFrame_dict["sheet2006"]["Time"] == "Ongoing"].index.values[0]

DataFrame_dict["sheet2002"].head()

,Date,Time,NERC Region,Area,Type of Disturbance,Loss (megawatts),Number of Customers Affected,Restoration Time
1,2002-01-30 00:00:00,06:00:00,SPP,Oklahoma,Ice Storm,500,1881134,2002-02-07 12:00:00
3,2002-01-29 00:00:00,20:00:00,SPP,Metropolitan Kansas City Area,Ice Storm,500-600,270000,NaN
4,2002-01-30 00:00:00,16:00:00,SPP,Missouri,Ice Storm,210,95000,2002-02-10 21:00:00
6,2002-02-27 00:00:00,10:48:00,WSCC,California,Interruption of Firm Load,300,255000,2002-02-27 11:35:00
8,2002-03-09 00:00:00,00:00:00,ECAR,Lower Peninsula of Michigan,Severe Weather,190,190000,2002-03-11 12:00:00

In [16]:
#Now that the date and time columns are in a format that can be recognised by pd.to_datetime, lets concatenate these two columns

for sheet in list(range(2002,2011,1)):
    DataFrame_dict["sheet{0}".format(sheet)]['Date'] = pd.to_datetime(DataFrame_dict["sheet{0}".format(sheet)]['Date'].astype(str) + ' ' + DataFrame_dict["sheet{0}".format(sheet)]['Time'].astype(str))

In [17]:
#concatenated columns 0 and 1. This value will override existing column 0 and should leave you with one column that containes datetime_event_begins

In [18]:
DataFrame_dict["sheet2002"].head()

,Date,Time,NERC Region,Area,Type of Disturbance,Loss (megawatts),Number of Customers Affected,Restoration Time
1,2002-01-30 06:00:00,06:00:00,SPP,Oklahoma,Ice Storm,500,1881134,2002-02-07 12:00:00
3,2002-01-29 20:00:00,20:00:00,SPP,Metropolitan Kansas City Area,Ice Storm,500-600,270000,NaN
4,2002-01-30 16:00:00,16:00:00,SPP,Missouri,Ice Storm,210,95000,2002-02-10 21:00:00
6,2002-02-27 10:48:00,10:48:00,WSCC,California,Interruption of Firm Load,300,255000,2002-02-27 11:35:00
8,2002-03-09 00:00:00,00:00:00,ECAR,Lower Peninsula of Michigan,Severe Weather,190,190000,2002-03-11 12:00:00

In [19]:
# Now that the time data is included in the first column of our dataframe we can drop the "Time" column from the dataframes containing data for years 2002 - 2010

In [20]:
for sheet in list(range(2002,2011,1)):
    DataFrame_dict["sheet{0}".format(sheet)] = DataFrame_dict["sheet{0}".format(sheet)].drop("Time", axis=1)

In [21]:
DataFrame_dict["sheet2002"].head()

,Date,NERC Region,Area,Type of Disturbance,Loss (megawatts),Number of Customers Affected,Restoration Time
1,2002-01-30 06:00:00,SPP,Oklahoma,Ice Storm,500,1881134,2002-02-07 12:00:00
3,2002-01-29 20:00:00,SPP,Metropolitan Kansas City Area,Ice Storm,500-600,270000,NaN
4,2002-01-30 16:00:00,SPP,Missouri,Ice Storm,210,95000,2002-02-10 21:00:00
6,2002-02-27 10:48:00,WSCC,California,Interruption of Firm Load,300,255000,2002-02-27 11:35:00
8,2002-03-09 00:00:00,ECAR,Lower Peninsula of Michigan,Severe Weather,190,190000,2002-03-11 12:00:00

In [25]:
len(post_cleaning_column_titles)

7

In [34]:
# Now that dataframes for 2002 - 2010 are fairly clean let us standardise the column names so we can concatenate the dataframes:

for sheet in list(range(2002,2011,1)):
    old_col = DataFrame_dict["sheet{0}".format(sheet)].columns.tolist()
    for n in range(len(post_cleaning_column_titles)):
        DataFrame_dict["sheet{0}".format(sheet)] = DataFrame_dict["sheet{0}".format(sheet)].rename(columns={old_col[n]: post_cleaning_column_titles[n]})
        
    if len(old_col) > 7: #Drop all additional columns
        for x in range(7,len(old_col),1):
            DataFrame_dict["sheet{0}".format(sheet)] = DataFrame_dict["sheet{0}".format(sheet)].drop(old_col[x], axis=1)

In [35]:
DataFrame_dict["sheet2003"].head()

,datetime_event_began,NERC_region,area_affected,event_type,demand_loss_(MW),number_of_customers_affected,datetime_of_restoration
2,2003-01-25 14:00:00,ECAR,"Cincinnati, Ohio",Cyber Threat From Internet,NaN,NaN,"1/26/03, 2:00 a.m."
4,2003-02-27 11:32:00,SERC,"Piedmont, North Carolina",Winter Ice Storm,1000,"over 340,000","3/01/03, 8:00 a.m."
8,2003-04-03 19:00:00,ECAR,Lower Michigan Peninsula,Ice Storm,300,425000,"4/06/03, 5:00 p.m."
9,2003-04-04 03:11:00,NPCC,"New York,",Severe Storm,200-250,160000,"4/05/03, 2:00 p.m."
12,2003-04-15 11:00:00,ERCOT,"Cities of Bryan,",Relaying Malfunction,212,68530,"4/15/03, 2:06 p.m."

In [36]:
# Now that dataframes for 2002 - 2010 are fairly clean and standardised, lets concatenate them:

cleaned_combined_df = DataFrame_dict["sheet2002"]

for sheet in list(range(2003,2011,1)):
    cleaned_combined_df = cleaned_combined_df.append(DataFrame_dict["sheet{0}".format(sheet)])
    
cleaned_combined_df

,datetime_event_began,NERC_region,area_affected,event_type,demand_loss_(MW),number_of_customers_affected,datetime_of_restoration
1,2002-01-30 06:00:00,SPP,Oklahoma,Ice Storm,500,1881134,2002-02-07 12:00:00
3,2002-01-29 20:00:00,SPP,Metropolitan Kansas City Area,Ice Storm,500-600,270000,NaN
4,2002-01-30 16:00:00,SPP,Missouri,Ice Storm,210,95000,2002-02-10 21:00:00
6,2002-02-27 10:48:00,WSCC,California,Interruption of Firm Load,300,255000,2002-02-27 11:35:00
8,2002-03-09 00:00:00,ECAR,Lower Peninsula of Michigan,Severe Weather,190,190000,2002-03-11 12:00:00
...,...,...,...,...,...,...,...
136,2010-12-14 07:20:00,WECC,California,Electrical System Separation - Islanding,9,6635,7:25 a.m. December 14
137,2010-12-14 07:36:00,WECC,Southern California,Transmission Equipment/Firm System Load,464,NaN,9:00 a.m. December 15
138,2010-12-18 05:00:00,WECC,"Redmond, Washington",Severe Weather,184,92090,10:00 p.m. December 19
139,2010-12-26 08:15:00,SERC,Carolina,Severe Weather,NaN,42000,4:15 p.m. December 26
140,2010-12-30 14:00:00,RFC,New York,Fuel Supply Deficiency,300,NaN,6:00 a.m. January 12

In [6]:
disturbances.columns

Index(['Table B.2.', 'Major Disturbances and Unusual Occurrences, 2002',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7'],
      dtype='object')

Initial notes about data:
1. the column headers seem to be located in row 1
2. date formats are inconsistent
3. I will need to check what NERC Region means
4. What does area refer to? Sometimes it is an entire state while other times it is a more specific part of a state.
5. lots of NaN that needs to be addressed
6. some columns have inconsistent data located in them - perhaps these rows need to be removed

In [7]:
#What is the shape of the data:

disturbances.shape

(41, 8)

## Step 1. Creating a rough data cleaning plan in pseudocode

After taking an initial look at the data I know I want to use the python package openpyxl to clean/ wrangle the data programmatically. Here is what I want to accomplish:
0. Load workbook so that we can read the data from the excel sheet with openpyxl
1. Initialise an empty pandas DataFrame. Define the column names: ["Date", "NERC Region", "Time", "Area Affected",	"Type of Disturbance", "Loss (megawatts)",	"Number of Customers Affected", "Restoration Date/Time"]
2. for sheets 2002 - 2010 we have columns A-H (in these sheets date and time of restoration are in one column called "Restoration Date/Time" which changes to two columns in 2011: "Date of Restoration", "Time of Restoration"):
    a. Select one sheet within the excel spreadsheet. loop rough the sheet line by line
    b. If row starts with "Table", remove row (or skip row)
    c. If row starts with a month or the word "Date", skip row
    d. else, append row to the DataFrame
2. for 2011-2014 we have columns A-I (look at data description to find out the new structure of the timing record). In 2011 "Type of disturbance" changes to "Event type".
3. for sheets 2015 - 2023 we have columns A-K: two columns have been added: "Month" (which replaces the row markers within the sheets, and "Alert Criteria"
3. Repeat step 2 for all sheets in the file
4. Check the output, start proper exploratory data analysis

In [19]:
#Step 0: Exploring openpyxl
excel_workbook = openpyxl.load_workbook("DOE_Electric_Disturbance_Events.xlsx")

# This is an example of how to return data from a predefined sheet
print(excel_workbook["2003"]["F7"].value)

1000

In [23]:
#slicing the data - getting all cells from a column. I could also use iter_rows or iter_cols
print(excel_workbook["2015"]["A"])

(<Cell '2015'.A1>, <Cell '2015'.A2>, <Cell '2015'.A3>, <Cell '2015'.A4>, <Cell '2015'.A5>, <Cell '2015'.A6>, <Cell '2015'.A7>, <Cell '2015'.A8>, <Cell '2015'.A9>, <Cell '2015'.A10>, <Cell '2015'.A11>, <Cell '2015'.A12>, <Cell '2015'.A13>, <Cell '2015'.A14>, <Cell '2015'.A15>, <Cell '2015'.A16>, <Cell '2015'.A17>, <Cell '2015'.A18>, <Cell '2015'.A19>, <Cell '2015'.A20>, <Cell '2015'.A21>, <Cell '2015'.A22>, <Cell '2015'.A23>, <Cell '2015'.A24>, <Cell '2015'.A25>, <Cell '2015'.A26>, <Cell '2015'.A27>, <Cell '2015'.A28>, <Cell '2015'.A29>, <Cell '2015'.A30>, <Cell '2015'.A31>, <Cell '2015'.A32>, <Cell '2015'.A33>, <Cell '2015'.A34>, <Cell '2015'.A35>, <Cell '2015'.A36>, <Cell '2015'.A37>, <Cell '2015'.A38>, <Cell '2015'.A39>, <Cell '2015'.A40>, <Cell '2015'.A41>, <Cell '2015'.A42>, <Cell '2015'.A43>, <Cell '2015'.A44>, <Cell '2015'.A45>, <Cell '2015'.A46>, <Cell '2015'.A47>, <Cell '2015'.A48>, <Cell '2015'.A49>, <Cell '2015'.A50>, <Cell '2015'.A51>, <Cell '2015'.A52>, <Cell '2015'.A53>, <Cell '2015'.A54>, <Cell '2015'.A55>, <Cell '2015'.A56>, <Cell '2015'.A57>, <Cell '2015'.A58>, <Cell '2015'.A59>, <Cell '2015'.A60>, <Cell '2015'.A61>, <Cell '2015'.A62>, <Cell '2015'.A63>, <Cell '2015'.A64>, <Cell '2015'.A65>, <Cell '2015'.A66>, <Cell '2015'.A67>, <Cell '2015'.A68>, <Cell '2015'.A69>, <Cell '2015'.A70>, <Cell '2015'.A71>, <Cell '2015'.A72>, <Cell '2015'.A73>, <Cell '2015'.A74>, <Cell '2015'.A75>, <Cell '2015'.A76>, <Cell '2015'.A77>, <Cell '2015'.A78>, <Cell '2015'.A79>, <Cell '2015'.A80>, <Cell '2015'.A81>, <Cell '2015'.A82>, <Cell '2015'.A83>, <Cell '2015'.A84>, <Cell '2015'.A85>, <Cell '2015'.A86>, <Cell '2015'.A87>, <Cell '2015'.A88>, <Cell '2015'.A89>, <Cell '2015'.A90>, <Cell '2015'.A91>, <Cell '2015'.A92>, <Cell '2015'.A93>, <Cell '2015'.A94>, <Cell '2015'.A95>, <Cell '2015'.A96>, <Cell '2015'.A97>, <Cell '2015'.A98>, <Cell '2015'.A99>, <Cell '2015'.A100>, <Cell '2015'.A101>, <Cell '2015'.A102>, <Cell '2015'.A103>, <Cell '2015'.A104>, <Cell '2015'.A105>, <Cell '2015'.A106>, <Cell '2015'.A107>, <Cell '2015'.A108>, <Cell '2015'.A109>, <Cell '2015'.A110>, <Cell '2015'.A111>, <Cell '2015'.A112>, <Cell '2015'.A113>, <Cell '2015'.A114>, <Cell '2015'.A115>, <Cell '2015'.A116>, <Cell '2015'.A117>, <Cell '2015'.A118>, <Cell '2015'.A119>, <Cell '2015'.A120>, <Cell '2015'.A121>, <Cell '2015'.A122>, <Cell '2015'.A123>, <Cell '2015'.A124>, <Cell '2015'.A125>, <Cell '2015'.A126>, <Cell '2015'.A127>, <Cell '2015'.A128>, <Cell '2015'.A129>, <Cell '2015'.A130>, <Cell '2015'.A131>, <Cell '2015'.A132>, <Cell '2015'.A133>, <Cell '2015'.A134>, <Cell '2015'.A135>, <Cell '2015'.A136>, <Cell '2015'.A137>, <Cell '2015'.A138>, <Cell '2015'.A139>, <Cell '2015'.A140>, <Cell '2015'.A141>, <Cell '2015'.A142>, <Cell '2015'.A143>, <Cell '2015'.A144>, <Cell '2015'.A145>, <Cell '2015'.A146>, <Cell '2015'.A147>, <Cell '2015'.A148>, <Cell '2015'.A149>, <Cell '2015'.A150>, <Cell '2015'.A151>, <Cell '2015'.A152>, <Cell '2015'.A153>, <Cell '2015'.A154>, <Cell '2015'.A155>, <Cell '2015'.A156>, <Cell '2015'.A157>, <Cell '2015'.A158>, <Cell '2015'.A159>, <Cell '2015'.A160>, <Cell '2015'.A161>, <Cell '2015'.A162>, <Cell '2015'.A163>, <Cell '2015'.A164>, <Cell '2015'.A165>, <Cell '2015'.A166>, <Cell '2015'.A167>, <Cell '2015'.A168>, <Cell '2015'.A169>, <Cell '2015'.A170>, <Cell '2015'.A171>, <Cell '2015'.A172>, <Cell '2015'.A173>, <Cell '2015'.A174>, <Cell '2015'.A175>, <Cell '2015'.A176>, <Cell '2015'.A177>, <Cell '2015'.A178>, <Cell '2015'.A179>, <Cell '2015'.A180>, <Cell '2015'.A181>, <Cell '2015'.A182>, <Cell '2015'.A183>, <Cell '2015'.A184>, <Cell '2015'.A185>, <Cell '2015'.A186>, <Cell '2015'.A187>, <Cell '2015'.A188>, <Cell '2015'.A189>, <Cell '2015'.A190>, <Cell '2015'.A191>, <Cell '2015'.A192>, <Cell '2015'.A193>)

In [29]:
row_dict = []
for row in excel_workbook["2015"].iter_rows(min_row=1, max_row=2, min_col=1, max_col=11, values_only=True):
    row_dict.append(row)

print(row_dict)

[('OE-417 Electric Emergency and Disturbance Report - Calendar Year 2015', None, None, None, None, None, None, None, None, None, None), ('Month', 'Date Event Began', 'Time Event Began', 'Date of Restoration', 'Time of Restoration', 'Area Affected', 'NERC Region', 'Alert Criteria', 'Event Type', 'Demand Loss (MW)', 'Number of Customers Affected')]

In [30]:
for row in excel_workbook["2015"].rows:
    print(row)

(<Cell '2015'.A1>, <MergedCell '2015'.B1>, <MergedCell '2015'.C1>, <MergedCell '2015'.D1>, <MergedCell '2015'.E1>, <MergedCell '2015'.F1>, <MergedCell '2015'.G1>, <MergedCell '2015'.H1>, <MergedCell '2015'.I1>, <MergedCell '2015'.J1>, <MergedCell '2015'.K1>, <Cell '2015'.L1>)
(<Cell '2015'.A2>, <Cell '2015'.B2>, <Cell '2015'.C2>, <Cell '2015'.D2>, <Cell '2015'.E2>, <Cell '2015'.F2>, <Cell '2015'.G2>, <Cell '2015'.H2>, <Cell '2015'.I2>, <Cell '2015'.J2>, <Cell '2015'.K2>, <Cell '2015'.L2>)
(<Cell '2015'.A3>, <Cell '2015'.B3>, <Cell '2015'.C3>, <Cell '2015'.D3>, <Cell '2015'.E3>, <Cell '2015'.F3>, <Cell '2015'.G3>, <Cell '2015'.H3>, <Cell '2015'.I3>, <Cell '2015'.J3>, <Cell '2015'.K3>, <Cell '2015'.L3>)
(<Cell '2015'.A4>, <Cell '2015'.B4>, <Cell '2015'.C4>, <Cell '2015'.D4>, <Cell '2015'.E4>, <Cell '2015'.F4>, <Cell '2015'.G4>, <Cell '2015'.H4>, <Cell '2015'.I4>, <Cell '2015'.J4>, <Cell '2015'.K4>, <Cell '2015'.L4>)
(<Cell '2015'.A5>, <Cell '2015'.B5>, <Cell '2015'.C5>, <Cell '2015'.D5>, <Cell '2015'.E5>, <Cell '2015'.F5>, <Cell '2015'.G5>, <Cell '2015'.H5>, <Cell '2015'.I5>, <Cell '2015'.J5>, <Cell '2015'.K5>, <Cell '2015'.L5>)
(<Cell '2015'.A6>, <Cell '2015'.B6>, <Cell '2015'.C6>, <Cell '2015'.D6>, <Cell '2015'.E6>, <Cell '2015'.F6>, <Cell '2015'.G6>, <Cell '2015'.H6>, <Cell '2015'.I6>, <Cell '2015'.J6>, <Cell '2015'.K6>, <Cell '2015'.L6>)
(<Cell '2015'.A7>, <Cell '2015'.B7>, <Cell '2015'.C7>, <Cell '2015'.D7>, <Cell '2015'.E7>, <Cell '2015'.F7>, <Cell '2015'.G7>, <Cell '2015'.H7>, <Cell '2015'.I7>, <Cell '2015'.J7>, <Cell '2015'.K7>, <Cell '2015'.L7>)
(<Cell '2015'.A8>, <Cell '2015'.B8>, <Cell '2015'.C8>, <Cell '2015'.D8>, <Cell '2015'.E8>, <Cell '2015'.F8>, <Cell '2015'.G8>, <Cell '2015'.H8>, <Cell '2015'.I8>, <Cell '2015'.J8>, <Cell '2015'.K8>, <Cell '2015'.L8>)
(<Cell '2015'.A9>, <Cell '2015'.B9>, <Cell '2015'.C9>, <Cell '2015'.D9>, <Cell '2015'.E9>, <Cell '2015'.F9>, <Cell '2015'.G9>, <Cell '2015'.H9>, <Cell '2015'.I9>, <Cell '2015'.J9>, <Cell '2015'.K9>, <Cell '2015'.L9>)
(<Cell '2015'.A10>, <Cell '2015'.B10>, <Cell '2015'.C10>, <Cell '2015'.D10>, <Cell '2015'.E10>, <Cell '2015'.F10>, <Cell '2015'.G10>, <Cell '2015'.H10>, <Cell '2015'.I10>, <Cell '2015'.J10>, <Cell '2015'.K10>, <Cell '2015'.L10>)
(<Cell '2015'.A11>, <Cell '2015'.B11>, <Cell '2015'.C11>, <Cell '2015'.D11>, <Cell '2015'.E11>, <Cell '2015'.F11>, <Cell '2015'.G11>, <Cell '2015'.H11>, <Cell '2015'.I11>, <Cell '2015'.J11>, <Cell '2015'.K11>, <Cell '2015'.L11>)
(<Cell '2015'.A12>, <Cell '2015'.B12>, <Cell '2015'.C12>, <Cell '2015'.D12>, <Cell '2015'.E12>, <Cell '2015'.F12>, <Cell '2015'.G12>, <Cell '2015'.H12>, <Cell '2015'.I12>, <Cell '2015'.J12>, <Cell '2015'.K12>, <Cell '2015'.L12>)
(<Cell '2015'.A13>, <Cell '2015'.B13>, <Cell '2015'.C13>, <Cell '2015'.D13>, <Cell '2015'.E13>, <Cell '2015'.F13>, <Cell '2015'.G13>, <Cell '2015'.H13>, <Cell '2015'.I13>, <Cell '2015'.J13>, <Cell '2015'.K13>, <Cell '2015'.L13>)
(<Cell '2015'.A14>, <Cell '2015'.B14>, <Cell '2015'.C14>, <Cell '2015'.D14>, <Cell '2015'.E14>, <Cell '2015'.F14>, <Cell '2015'.G14>, <Cell '2015'.H14>, <Cell '2015'.I14>, <Cell '2015'.J14>, <Cell '2015'.K14>, <Cell '2015'.L14>)
(<Cell '2015'.A15>, <Cell '2015'.B15>, <Cell '2015'.C15>, <Cell '2015'.D15>, <Cell '2015'.E15>, <Cell '2015'.F15>, <Cell '2015'.G15>, <Cell '2015'.H15>, <Cell '2015'.I15>, <Cell '2015'.J15>, <Cell '2015'.K15>, <Cell '2015'.L15>)
(<Cell '2015'.A16>, <Cell '2015'.B16>, <Cell '2015'.C16>, <Cell '2015'.D16>, <Cell '2015'.E16>, <Cell '2015'.F16>, <Cell '2015'.G16>, <Cell '2015'.H16>, <Cell '2015'.I16>, <Cell '2015'.J16>, <Cell '2015'.K16>, <Cell '2015'.L16>)
(<Cell '2015'.A17>, <Cell '2015'.B17>, <Cell '2015'.C17>, <Cell '2015'.D17>, <Cell '2015'.E17>, <Cell '2015'.F17>, <Cell '2015'.G17>, <Cell '2015'.H17>, <Cell '2015'.I17>, <Cell '2015'.J17>, <Cell '2015'.K17>, <Cell '2015'.L17>)
(<Cell '2015'.A18>, <Cell '2015'.B18>, <Cell '2015'.C18>, <Cell '2015'.D18>, <Cell '2015'.E18>, <Cell '2015'.F18>, <Cell '2015'.G18>, <Cell '2015'.H18>, <Cell '2015'.I18>, <Cell '2015'.J18>, <Cell '2015'.K18>, <Cell '2015'.L18>)
(<Cell '2015'.A19>, <Cell '2015'.B19>, <Cell '2015'.C19>, <Cell '2015'.D19>, <Cell '2015'.E19>, <Cell '2015'.F19>, <Cell '2015'.G19>, <Cell '2015'.H19>, <Cell '2015'.I19>, <Cell '2015'.J19>, <Cell '2015'.K19>, <Cell '2015'.L19>)
(<Cell '2015'.A20>, <Cell '2015'.B20>, <Cell '2015'.C20>, <Cell '2015'.D20>, <Cell '2015'.E20>, <Cell '2015'.F20>, <Cell '2015'.G20>, <Cell '2015'.H20>, <Cell '2015'.I20>, <Cell '2015'.J20>, <Cell '2015'.K20>, <Cell '2015'.L20>)
(<Cell '2015'.A21>, <Cell '2015'.B21>, <Cell '2015'.C21>, <Cell '2015'.D21>, <Cell '2015'.E21>, <Cell '2015'.F21>, <Cell '2015'.G21>, <Cell '2015'.H21>, <Cell '2015'.I21>, <Cell '2015'.J21>, <Cell '2015'.K21>, <Cell '2015'.L21>)
(<Cell '2015'.A22>, <Cell '2015'.B22>, <Cell '2015'.C22>, <Cell '2015'.D22>, <Cell '2015'.E22>, <Cell '2015'.F22>, <Cell '2015'.G22>, <Cell '2015'.H22>, <Cell '2015'.I22>, <Cell '2015'.J22>, <Cell '2015'.K22>, <Cell '2015'.L22>)
(<Cell '2015'.A23>, <Cell '2015'.B23>, <Cell '2015'.C23>, <Cell '2015'.D23>, <Cell '2015'.E23>, <Cell '2015'.F23>, <Cell '2015'.G23>, <Cell '2015'.H23>, <Cell '2015'.I23>, <Cell '2015'.J23>, <Cell '2015'.K23>, <Cell '2015'.L23>)
(<Cell '2015'.A24>, <Cell '2015'.B24>, <Cell '2015'.C24>, <Cell '2015'.D24>, <Cell '2015'.E24>, <Cell '2015'.F24>, <Cell '2015'.G24>, <Cell '2015'.H24>, <Cell '2015'.I24>, <Cell '2015'.J24>, <Cell '2015'.K24>, <Cell '2015'.L24>)
(<Cell '2015'.A25>, <Cell '2015'.B25>, <Cell '2015'.C25>, <Cell '2015'.D25>, <Cell '2015'.E25>, <Cell '2015'.F25>, <Cell '2015'.G25>, <Cell '2015'.H25>, <Cell '2015'.I25>, <Cell '2015'.J25>, <Cell '2015'.K25>, <Cell '2015'.L25>)
(<Cell '2015'.A26>, <Cell '2015'.B26>, <Cell '2015'.C26>, <Cell '2015'.D26>, <Cell '2015'.E26>, <Cell '2015'.F26>, <Cell '2015'.G26>, <Cell '2015'.H26>, <Cell '2015'.I26>, <Cell '2015'.J26>, <Cell '2015'.K26>, <Cell '2015'.L26>)
(<Cell '2015'.A27>, <Cell '2015'.B27>, <Cell '2015'.C27>, <Cell '2015'.D27>, <Cell '2015'.E27>, <Cell '2015'.F27>, <Cell '2015'.G27>, <Cell '2015'.H27>, <Cell '2015'.I27>, <Cell '2015'.J27>, <Cell '2015'.K27>, <Cell '2015'.L27>)
(<Cell '2015'.A28>, <Cell '2015'.B28>, <Cell '2015'.C28>, <Cell '2015'.D28>, <Cell '2015'.E28>, <Cell '2015'.F28>, <Cell '2015'.G28>, <Cell '2015'.H28>, <Cell '2015'.I28>, <Cell '2015'.J28>, <Cell '2015'.K28>, <Cell '2015'.L28>)
(<Cell '2015'.A29>, <Cell '2015'.B29>, <Cell '2015'.C29>, <Cell '2015'.D29>, <Cell '2015'.E29>, <Cell '2015'.F29>, <Cell '2015'.G29>, <Cell '2015'.H29>, <Cell '2015'.I29>, <Cell '2015'.J29>, <Cell '2015'.K29>, <Cell '2015'.L29>)
(<Cell '2015'.A30>, <Cell '2015'.B30>, <Cell '2015'.C30>, <Cell '2015'.D30>, <Cell '2015'.E30>, <Cell '2015'.F30>, <Cell '2015'.G30>, <Cell '2015'.H30>, <Cell '2015'.I30>, <Cell '2015'.J30>, <Cell '2015'.K30>, <Cell '2015'.L30>)
(<Cell '2015'.A31>, <Cell '2015'.B31>, <Cell '2015'.C31>, <Cell '2015'.D31>, <Cell '2015'.E31>, <Cell '2015'.F31>, <Cell '2015'.G31>, <Cell '2015'.H31>, <Cell '2015'.I31>, <Cell '2015'.J31>, <Cell '2015'.K31>, <Cell '2015'.L31>)
(<Cell '2015'.A32>, <Cell '2015'.B32>, <Cell '2015'.C32>, <Cell '2015'.D32>, <Cell '2015'.E32>, <Cell '2015'.F32>, <Cell '2015'.G32>, <Cell '2015'.H32>, <Cell '2015'.I32>, <Cell '2015'.J32>, <Cell '2015'.K32>, <Cell '2015'.L32>)
(<Cell '2015'.A33>, <Cell '2015'.B33>, <Cell '2015'.C33>, <Cell '2015'.D33>, <Cell '2015'.E33>, <Cell '2015'.F33>, <Cell '2015'.G33>, <Cell '2015'.H33>, <Cell '2015'.I33>, <Cell '2015'.J33>, <Cell '2015'.K33>, <Cell '2015'.L33>)
(<Cell '2015'.A34>, <Cell '2015'.B34>, <Cell '2015'.C34>, <Cell '2015'.D34>, <Cell '2015'.E34>, <Cell '2015'.F34>, <Cell '2015'.G34>, <Cell '2015'.H34>, <Cell '2015'.I34>, <Cell '2015'.J34>, <Cell '2015'.K34>, <Cell '2015'.L34>)
(<Cell '2015'.A35>, <Cell '2015'.B35>, <Cell '2015'.C35>, <Cell '2015'.D35>, <Cell '2015'.E35>, <Cell '2015'.F35>, <Cell '2015'.G35>, <Cell '2015'.H35>, <Cell '2015'.I35>, <Cell '2015'.J35>, <Cell '2015'.K35>, <Cell '2015'.L35>)
(<Cell '2015'.A36>, <Cell '2015'.B36>, <Cell '2015'.C36>, <Cell '2015'.D36>, <Cell '2015'.E36>, <Cell '2015'.F36>, <Cell '2015'.G36>, <Cell '2015'.H36>, <Cell '2015'.I36>, <Cell '2015'.J36>, <Cell '2015'.K36>, <Cell '2015'.L36>)
(<Cell '2015'.A37>, <Cell '2015'.B37>, <Cell '2015'.C37>, <Cell '2015'.D37>, <Cell '2015'.E37>, <Cell '2015'.F37>, <Cell '2015'.G37>, <Cell '2015'.H37>, <Cell '2015'.I37>, <Cell '2015'.J37>, <Cell '2015'.K37>, <Cell '2015'.L37>)
(<Cell '2015'.A38>, <Cell '2015'.B38>, <Cell '2015'.C38>, <Cell '2015'.D38>, <Cell '2015'.E38>, <Cell '2015'.F38>, <Cell '2015'.G38>, <Cell '2015'.H38>, <Cell '2015'.I38>, <Cell '2015'.J38>, <Cell '2015'.K38>, <Cell '2015'.L38>)
(<Cell '2015'.A39>, <Cell '2015'.B39>, <Cell '2015'.C39>, <Cell '2015'.D39>, <Cell '2015'.E39>, <Cell '2015'.F39>, <Cell '2015'.G39>, <Cell '2015'.H39>, <Cell '2015'.I39>, <Cell '2015'.J39>, <Cell '2015'.K39>, <Cell '2015'.L39>)
(<Cell '2015'.A40>, <Cell '2015'.B40>, <Cell '2015'.C40>, <Cell '2015'.D40>, <Cell '2015'.E40>, <Cell '2015'.F40>, <Cell '2015'.G40>, <Cell '2015'.H40>, <Cell '2015'.I40>, <Cell '2015'.J40>, <Cell '2015'.K40>, <Cell '2015'.L40>)
(<Cell '2015'.A41>, <Cell '2015'.B41>, <Cell '2015'.C41>, <Cell '2015'.D41>, <Cell '2015'.E41>, <Cell '2015'.F41>, <Cell '2015'.G41>, <Cell '2015'.H41>, <Cell '2015'.I41>, <Cell '2015'.J41>, <Cell '2015'.K41>, <Cell '2015'.L41>)
(<Cell '2015'.A42>, <Cell '2015'.B42>, <Cell '2015'.C42>, <Cell '2015'.D42>, <Cell '2015'.E42>, <Cell '2015'.F42>, <Cell '2015'.G42>, <Cell '2015'.H42>, <Cell '2015'.I42>, <Cell '2015'.J42>, <Cell '2015'.K42>, <Cell '2015'.L42>)
(<Cell '2015'.A43>, <Cell '2015'.B43>, <Cell '2015'.C43>, <Cell '2015'.D43>, <Cell '2015'.E43>, <Cell '2015'.F43>, <Cell '2015'.G43>, <Cell '2015'.H43>, <Cell '2015'.I43>, <Cell '2015'.J43>, <Cell '2015'.K43>, <Cell '2015'.L43>)
(<Cell '2015'.A44>, <Cell '2015'.B44>, <Cell '2015'.C44>, <Cell '2015'.D44>, <Cell '2015'.E44>, <Cell '2015'.F44>, <Cell '2015'.G44>, <Cell '2015'.H44>, <Cell '2015'.I44>, <Cell '2015'.J44>, <Cell '2015'.K44>, <Cell '2015'.L44>)
(<Cell '2015'.A45>, <Cell '2015'.B45>, <Cell '2015'.C45>, <Cell '2015'.D45>, <Cell '2015'.E45>, <Cell '2015'.F45>, <Cell '2015'.G45>, <Cell '2015'.H45>, <Cell '2015'.I45>, <Cell '2015'.J45>, <Cell '2015'.K45>, <Cell '2015'.L45>)
(<Cell '2015'.A46>, <Cell '2015'.B46>, <Cell '2015'.C46>, <Cell '2015'.D46>, <Cell '2015'.E46>, <Cell '2015'.F46>, <Cell '2015'.G46>, <Cell '2015'.H46>, <Cell '2015'.I46>, <Cell '2015'.J46>, <Cell '2015'.K46>, <Cell '2015'.L46>)
(<Cell '2015'.A47>, <Cell '2015'.B47>, <Cell '2015'.C47>, <Cell '2015'.D47>, <Cell '2015'.E47>, <Cell '2015'.F47>, <Cell '2015'.G47>, <Cell '2015'.H47>, <Cell '2015'.I47>, <Cell '2015'.J47>, <Cell '2015'.K47>, <Cell '2015'.L47>)
(<Cell '2015'.A48>, <Cell '2015'.B48>, <Cell '2015'.C48>, <Cell '2015'.D48>, <Cell '2015'.E48>, <Cell '2015'.F48>, <Cell '2015'.G48>, <Cell '2015'.H48>, <Cell '2015'.I48>, <Cell '2015'.J48>, <Cell '2015'.K48>, <Cell '2015'.L48>)
(<Cell '2015'.A49>, <Cell '2015'.B49>, <Cell '2015'.C49>, <Cell '2015'.D49>, <Cell '2015'.E49>, <Cell '2015'.F49>, <Cell '2015'.G49>, <Cell '2015'.H49>, <Cell '2015'.I49>, <Cell '2015'.J49>, <Cell '2015'.K49>, <Cell '2015'.L49>)
(<Cell '2015'.A50>, <Cell '2015'.B50>, <Cell '2015'.C50>, <Cell '2015'.D50>, <Cell '2015'.E50>, <Cell '2015'.F50>, <Cell '2015'.G50>, <Cell '2015'.H50>, <Cell '2015'.I50>, <Cell '2015'.J50>, <Cell '2015'.K50>, <Cell '2015'.L50>)
(<Cell '2015'.A51>, <Cell '2015'.B51>, <Cell '2015'.C51>, <Cell '2015'.D51>, <Cell '2015'.E51>, <Cell '2015'.F51>, <Cell '2015'.G51>, <Cell '2015'.H51>, <Cell '2015'.I51>, <Cell '2015'.J51>, <Cell '2015'.K51>, <Cell '2015'.L51>)
(<Cell '2015'.A52>, <Cell '2015'.B52>, <Cell '2015'.C52>, <Cell '2015'.D52>, <Cell '2015'.E52>, <Cell '2015'.F52>, <Cell '2015'.G52>, <Cell '2015'.H52>, <Cell '2015'.I52>, <Cell '2015'.J52>, <Cell '2015'.K52>, <Cell '2015'.L52>)
(<Cell '2015'.A53>, <Cell '2015'.B53>, <Cell '2015'.C53>, <Cell '2015'.D53>, <Cell '2015'.E53>, <Cell '2015'.F53>, <Cell '2015'.G53>, <Cell '2015'.H53>, <Cell '2015'.I53>, <Cell '2015'.J53>, <Cell '2015'.K53>, <Cell '2015'.L53>)
(<Cell '2015'.A54>, <Cell '2015'.B54>, <Cell '2015'.C54>, <Cell '2015'.D54>, <Cell '2015'.E54>, <Cell '2015'.F54>, <Cell '2015'.G54>, <Cell '2015'.H54>, <Cell '2015'.I54>, <Cell '2015'.J54>, <Cell '2015'.K54>, <Cell '2015'.L54>)
(<Cell '2015'.A55>, <Cell '2015'.B55>, <Cell '2015'.C55>, <Cell '2015'.D55>, <Cell '2015'.E55>, <Cell '2015'.F55>, <Cell '2015'.G55>, <Cell '2015'.H55>, <Cell '2015'.I55>, <Cell '2015'.J55>, <Cell '2015'.K55>, <Cell '2015'.L55>)
(<Cell '2015'.A56>, <Cell '2015'.B56>, <Cell '2015'.C56>, <Cell '2015'.D56>, <Cell '2015'.E56>, <Cell '2015'.F56>, <Cell '2015'.G56>, <Cell '2015'.H56>, <Cell '2015'.I56>, <Cell '2015'.J56>, <Cell '2015'.K56>, <Cell '2015'.L56>)
(<Cell '2015'.A57>, <Cell '2015'.B57>, <Cell '2015'.C57>, <Cell '2015'.D57>, <Cell '2015'.E57>, <Cell '2015'.F57>, <Cell '2015'.G57>, <Cell '2015'.H57>, <Cell '2015'.I57>, <Cell '2015'.J57>, <Cell '2015'.K57>, <Cell '2015'.L57>)
(<Cell '2015'.A58>, <Cell '2015'.B58>, <Cell '2015'.C58>, <Cell '2015'.D58>, <Cell '2015'.E58>, <Cell '2015'.F58>, <Cell '2015'.G58>, <Cell '2015'.H58>, <Cell '2015'.I58>, <Cell '2015'.J58>, <Cell '2015'.K58>, <Cell '2015'.L58>)
(<Cell '2015'.A59>, <Cell '2015'.B59>, <Cell '2015'.C59>, <Cell '2015'.D59>, <Cell '2015'.E59>, <Cell '2015'.F59>, <Cell '2015'.G59>, <Cell '2015'.H59>, <Cell '2015'.I59>, <Cell '2015'.J59>, <Cell '2015'.K59>, <Cell '2015'.L59>)
(<Cell '2015'.A60>, <Cell '2015'.B60>, <Cell '2015'.C60>, <Cell '2015'.D60>, <Cell '2015'.E60>, <Cell '2015'.F60>, <Cell '2015'.G60>, <Cell '2015'.H60>, <Cell '2015'.I60>, <Cell '2015'.J60>, <Cell '2015'.K60>, <Cell '2015'.L60>)
(<Cell '2015'.A61>, <Cell '2015'.B61>, <Cell '2015'.C61>, <Cell '2015'.D61>, <Cell '2015'.E61>, <Cell '2015'.F61>, <Cell '2015'.G61>, <Cell '2015'.H61>, <Cell '2015'.I61>, <Cell '2015'.J61>, <Cell '2015'.K61>, <Cell '2015'.L61>)
(<Cell '2015'.A62>, <Cell '2015'.B62>, <Cell '2015'.C62>, <Cell '2015'.D62>, <Cell '2015'.E62>, <Cell '2015'.F62>, <Cell '2015'.G62>, <Cell '2015'.H62>, <Cell '2015'.I62>, <Cell '2015'.J62>, <Cell '2015'.K62>, <Cell '2015'.L62>)
(<Cell '2015'.A63>, <Cell '2015'.B63>, <Cell '2015'.C63>, <Cell '2015'.D63>, <Cell '2015'.E63>, <Cell '2015'.F63>, <Cell '2015'.G63>, <Cell '2015'.H63>, <Cell '2015'.I63>, <Cell '2015'.J63>, <Cell '2015'.K63>, <Cell '2015'.L63>)
(<Cell '2015'.A64>, <Cell '2015'.B64>, <Cell '2015'.C64>, <Cell '2015'.D64>, <Cell '2015'.E64>, <Cell '2015'.F64>, <Cell '2015'.G64>, <Cell '2015'.H64>, <Cell '2015'.I64>, <Cell '2015'.J64>, <Cell '2015'.K64>, <Cell '2015'.L64>)
(<Cell '2015'.A65>, <Cell '2015'.B65>, <Cell '2015'.C65>, <Cell '2015'.D65>, <Cell '2015'.E65>, <Cell '2015'.F65>, <Cell '2015'.G65>, <Cell '2015'.H65>, <Cell '2015'.I65>, <Cell '2015'.J65>, <Cell '2015'.K65>, <Cell '2015'.L65>)
(<Cell '2015'.A66>, <Cell '2015'.B66>, <Cell '2015'.C66>, <Cell '2015'.D66>, <Cell '2015'.E66>, <Cell '2015'.F66>, <Cell '2015'.G66>, <Cell '2015'.H66>, <Cell '2015'.I66>, <Cell '2015'.J66>, <Cell '2015'.K66>, <Cell '2015'.L66>)
(<Cell '2015'.A67>, <Cell '2015'.B67>, <Cell '2015'.C67>, <Cell '2015'.D67>, <Cell '2015'.E67>, <Cell '2015'.F67>, <Cell '2015'.G67>, <Cell '2015'.H67>, <Cell '2015'.I67>, <Cell '2015'.J67>, <Cell '2015'.K67>, <Cell '2015'.L67>)
(<Cell '2015'.A68>, <Cell '2015'.B68>, <Cell '2015'.C68>, <Cell '2015'.D68>, <Cell '2015'.E68>, <Cell '2015'.F68>, <Cell '2015'.G68>, <Cell '2015'.H68>, <Cell '2015'.I68>, <Cell '2015'.J68>, <Cell '2015'.K68>, <Cell '2015'.L68>)
(<Cell '2015'.A69>, <Cell '2015'.B69>, <Cell '2015'.C69>, <Cell '2015'.D69>, <Cell '2015'.E69>, <Cell '2015'.F69>, <Cell '2015'.G69>, <Cell '2015'.H69>, <Cell '2015'.I69>, <Cell '2015'.J69>, <Cell '2015'.K69>, <Cell '2015'.L69>)
(<Cell '2015'.A70>, <Cell '2015'.B70>, <Cell '2015'.C70>, <Cell '2015'.D70>, <Cell '2015'.E70>, <Cell '2015'.F70>, <Cell '2015'.G70>, <Cell '2015'.H70>, <Cell '2015'.I70>, <Cell '2015'.J70>, <Cell '2015'.K70>, <Cell '2015'.L70>)
(<Cell '2015'.A71>, <Cell '2015'.B71>, <Cell '2015'.C71>, <Cell '2015'.D71>, <Cell '2015'.E71>, <Cell '2015'.F71>, <Cell '2015'.G71>, <Cell '2015'.H71>, <Cell '2015'.I71>, <Cell '2015'.J71>, <Cell '2015'.K71>, <Cell '2015'.L71>)
(<Cell '2015'.A72>, <Cell '2015'.B72>, <Cell '2015'.C72>, <Cell '2015'.D72>, <Cell '2015'.E72>, <Cell '2015'.F72>, <Cell '2015'.G72>, <Cell '2015'.H72>, <Cell '2015'.I72>, <Cell '2015'.J72>, <Cell '2015'.K72>, <Cell '2015'.L72>)
(<Cell '2015'.A73>, <Cell '2015'.B73>, <Cell '2015'.C73>, <Cell '2015'.D73>, <Cell '2015'.E73>, <Cell '2015'.F73>, <Cell '2015'.G73>, <Cell '2015'.H73>, <Cell '2015'.I73>, <Cell '2015'.J73>, <Cell '2015'.K73>, <Cell '2015'.L73>)
(<Cell '2015'.A74>, <Cell '2015'.B74>, <Cell '2015'.C74>, <Cell '2015'.D74>, <Cell '2015'.E74>, <Cell '2015'.F74>, <Cell '2015'.G74>, <Cell '2015'.H74>, <Cell '2015'.I74>, <Cell '2015'.J74>, <Cell '2015'.K74>, <Cell '2015'.L74>)
(<Cell '2015'.A75>, <Cell '2015'.B75>, <Cell '2015'.C75>, <Cell '2015'.D75>, <Cell '2015'.E75>, <Cell '2015'.F75>, <Cell '2015'.G75>, <Cell '2015'.H75>, <Cell '2015'.I75>, <Cell '2015'.J75>, <Cell '2015'.K75>, <Cell '2015'.L75>)
(<Cell '2015'.A76>, <Cell '2015'.B76>, <Cell '2015'.C76>, <Cell '2015'.D76>, <Cell '2015'.E76>, <Cell '2015'.F76>, <Cell '2015'.G76>, <Cell '2015'.H76>, <Cell '2015'.I76>, <Cell '2015'.J76>, <Cell '2015'.K76>, <Cell '2015'.L76>)
(<Cell '2015'.A77>, <Cell '2015'.B77>, <Cell '2015'.C77>, <Cell '2015'.D77>, <Cell '2015'.E77>, <Cell '2015'.F77>, <Cell '2015'.G77>, <Cell '2015'.H77>, <Cell '2015'.I77>, <Cell '2015'.J77>, <Cell '2015'.K77>, <Cell '2015'.L77>)
(<Cell '2015'.A78>, <Cell '2015'.B78>, <Cell '2015'.C78>, <Cell '2015'.D78>, <Cell '2015'.E78>, <Cell '2015'.F78>, <Cell '2015'.G78>, <Cell '2015'.H78>, <Cell '2015'.I78>, <Cell '2015'.J78>, <Cell '2015'.K78>, <Cell '2015'.L78>)
(<Cell '2015'.A79>, <Cell '2015'.B79>, <Cell '2015'.C79>, <Cell '2015'.D79>, <Cell '2015'.E79>, <Cell '2015'.F79>, <Cell '2015'.G79>, <Cell '2015'.H79>, <Cell '2015'.I79>, <Cell '2015'.J79>, <Cell '2015'.K79>, <Cell '2015'.L79>)
(<Cell '2015'.A80>, <Cell '2015'.B80>, <Cell '2015'.C80>, <Cell '2015'.D80>, <Cell '2015'.E80>, <Cell '2015'.F80>, <Cell '2015'.G80>, <Cell '2015'.H80>, <Cell '2015'.I80>, <Cell '2015'.J80>, <Cell '2015'.K80>, <Cell '2015'.L80>)
(<Cell '2015'.A81>, <Cell '2015'.B81>, <Cell '2015'.C81>, <Cell '2015'.D81>, <Cell '2015'.E81>, <Cell '2015'.F81>, <Cell '2015'.G81>, <Cell '2015'.H81>, <Cell '2015'.I81>, <Cell '2015'.J81>, <Cell '2015'.K81>, <Cell '2015'.L81>)
(<Cell '2015'.A82>, <Cell '2015'.B82>, <Cell '2015'.C82>, <Cell '2015'.D82>, <Cell '2015'.E82>, <Cell '2015'.F82>, <Cell '2015'.G82>, <Cell '2015'.H82>, <Cell '2015'.I82>, <Cell '2015'.J82>, <Cell '2015'.K82>, <Cell '2015'.L82>)
(<Cell '2015'.A83>, <Cell '2015'.B83>, <Cell '2015'.C83>, <Cell '2015'.D83>, <Cell '2015'.E83>, <Cell '2015'.F83>, <Cell '2015'.G83>, <Cell '2015'.H83>, <Cell '2015'.I83>, <Cell '2015'.J83>, <Cell '2015'.K83>, <Cell '2015'.L83>)
(<Cell '2015'.A84>, <Cell '2015'.B84>, <Cell '2015'.C84>, <Cell '2015'.D84>, <Cell '2015'.E84>, <Cell '2015'.F84>, <Cell '2015'.G84>, <Cell '2015'.H84>, <Cell '2015'.I84>, <Cell '2015'.J84>, <Cell '2015'.K84>, <Cell '2015'.L84>)
(<Cell '2015'.A85>, <Cell '2015'.B85>, <Cell '2015'.C85>, <Cell '2015'.D85>, <Cell '2015'.E85>, <Cell '2015'.F85>, <Cell '2015'.G85>, <Cell '2015'.H85>, <Cell '2015'.I85>, <Cell '2015'.J85>, <Cell '2015'.K85>, <Cell '2015'.L85>)
(<Cell '2015'.A86>, <Cell '2015'.B86>, <Cell '2015'.C86>, <Cell '2015'.D86>, <Cell '2015'.E86>, <Cell '2015'.F86>, <Cell '2015'.G86>, <Cell '2015'.H86>, <Cell '2015'.I86>, <Cell '2015'.J86>, <Cell '2015'.K86>, <Cell '2015'.L86>)
(<Cell '2015'.A87>, <Cell '2015'.B87>, <Cell '2015'.C87>, <Cell '2015'.D87>, <Cell '2015'.E87>, <Cell '2015'.F87>, <Cell '2015'.G87>, <Cell '2015'.H87>, <Cell '2015'.I87>, <Cell '2015'.J87>, <Cell '2015'.K87>, <Cell '2015'.L87>)

In [31]:
for index,row in disturbances.iterrows():
    print(row)

Table B.2.                                          NaN
Major Disturbances and Unusual Occurrences, 2002    NaN
Unnamed: 2                                          NaN
Unnamed: 3                                          NaN
Unnamed: 4                                          NaN
Unnamed: 5                                          NaN
Unnamed: 6                                          NaN
Unnamed: 7                                          NaN
Name: 0, dtype: object
Table B.2.                                                                  Date
Major Disturbances and Unusual Occurrences, 2002                     NERC Region
Unnamed: 2                                                                  Time
Unnamed: 3                                                                  Area
Unnamed: 4                                                   Type of Disturbance
Unnamed: 5                                                      Loss (megawatts)
Unnamed: 6                                          Number of Customers Affected
Unnamed: 7                                                      Restoration Time
Name: 1, dtype: object
Table B.2.                                          January
Major Disturbances and Unusual Occurrences, 2002        NaN
Unnamed: 2                                              NaN
Unnamed: 3                                              NaN
Unnamed: 4                                              NaN
Unnamed: 5                                              NaN
Unnamed: 6                                              NaN
Unnamed: 7                                              NaN
Name: 2, dtype: object
Table B.2.                                          2002-01-30 00:00:00
Major Disturbances and Unusual Occurrences, 2002                    SPP
Unnamed: 2                                                     06:00:00
Unnamed: 3                                                     Oklahoma
Unnamed: 4                                                    Ice Storm
Unnamed: 5                                                          500
Unnamed: 6                                                      1881134
Unnamed: 7                                          2002-02-07 12:00:00
Name: 3, dtype: object
Table B.2.                                          None
Major Disturbances and Unusual Occurrences, 2002     NaN
Unnamed: 2                                          None
Unnamed: 3                                           NaN
Unnamed: 4                                           NaN
Unnamed: 5                                           NaN
Unnamed: 6                                           NaN
Unnamed: 7                                          None
Name: 4, dtype: object
Table B.2.                                                    2002-01-29 00:00:00
Major Disturbances and Unusual Occurrences, 2002                              SPP
Unnamed: 2                                                                Evening
Unnamed: 3                                          Metropolitan Kansas City Area
Unnamed: 4                                                              Ice Storm
Unnamed: 5                                                                500-600
Unnamed: 6                                                                 270000
Unnamed: 7                                                                    NaN
Name: 5, dtype: object
Table B.2.                                          2002-01-30 00:00:00
Major Disturbances and Unusual Occurrences, 2002                    SPP
Unnamed: 2                                                     16:00:00
Unnamed: 3                                                     Missouri
Unnamed: 4                                                    Ice Storm
Unnamed: 5                                                          210
Unnamed: 6                                                        95000
Unnamed: 7                                          2002-02-10 21:00:00
Name: 6, dtype: object
Table B.2.                                          February
Major Disturbances and Unusual Occurrences, 2002         NaN
Unnamed: 2                                               NaN
Unnamed: 3                                               NaN
Unnamed: 4                                               NaN
Unnamed: 5                                               NaN
Unnamed: 6                                               NaN
Unnamed: 7                                               NaN
Name: 7, dtype: object
Table B.2.                                                2002-02-27 00:00:00
Major Disturbances and Unusual Occurrences, 2002                         WSCC
Unnamed: 2                                                           10:48:00
Unnamed: 3                                                         California
Unnamed: 4                                          Interruption of Firm Load
Unnamed: 5                                                                300
Unnamed: 6                                                             255000
Unnamed: 7                                                2002-02-27 11:35:00
Name: 8, dtype: object
Table B.2.                                          March
Major Disturbances and Unusual Occurrences, 2002      NaN
Unnamed: 2                                            NaN
Unnamed: 3                                            NaN
Unnamed: 4                                            NaN
Unnamed: 5                                            NaN
Unnamed: 6                                            NaN
Unnamed: 7                                            NaN
Name: 9, dtype: object
Table B.2.                                                  2002-03-09 00:00:00
Major Disturbances and Unusual Occurrences, 2002                           ECAR
Unnamed: 2                                                             00:00:00
Unnamed: 3                                          Lower Peninsula of Michigan
Unnamed: 4                                                       Severe Weather
Unnamed: 5                                                                  190
Unnamed: 6                                                               190000
Unnamed: 7                                                  2002-03-11 12:00:00
Name: 10, dtype: object
Table B.2.                                          April
Major Disturbances and Unusual Occurrences, 2002      NaN
Unnamed: 2                                            NaN
Unnamed: 3                                            NaN
Unnamed: 4                                            NaN
Unnamed: 5                                            NaN
Unnamed: 6                                            NaN
Unnamed: 7                                            NaN
Name: 11, dtype: object
Table B.2.                                          2002-04-08 00:00:00
Major Disturbances and Unusual Occurrences, 2002                   WSCC
Unnamed: 2                                                     15:00:00
Unnamed: 3                                                      Arizona
Unnamed: 4                                                   Vandalism/
Unnamed: 5                                                            0
Unnamed: 6                                                            0
Unnamed: 7                                          2002-04-09 00:00:00
Name: 12, dtype: object
Table B.2.                                                None
Major Disturbances and Unusual Occurrences, 2002           NaN
Unnamed: 2                                                None
Unnamed: 3                                                 NaN
Unnamed: 4                                          Insulators
Unnamed: 5                                                 NaN
Unnamed: 6                                                 NaN
Unnamed: 7                                                None
Name: 13, dtype: object
Table B.2.                                          July
Major Disturbances and Unusual Occurrences, 2002     NaN
Unnamed: 2                                           NaN
Unnamed: 3                                           NaN
Unnamed: 4                                           NaN
Unnamed: 5                                           NaN
Unnamed: 6                                           NaN
Unnamed: 7                                           NaN
Name: 14, dtype: object
Table B.2.                                                 2002-07-09 00:00:00
Major Disturbances and Unusual Occurrences, 2002                          WSCC
Unnamed: 2                                                            12:27:00
Unnamed: 3                                                          California
Unnamed: 4                                          Interruption of Firm Power
Unnamed: 5                                                                 240
Unnamed: 6                                                              1 PG&E
Unnamed: 7                                                 2002-07-09 19:54:00
Name: 15, dtype: object
Table B.2.                                                                2002-07-19 00:00:00
Major Disturbances and Unusual Occurrences, 2002                                         WSCC
Unnamed: 2                                                                           11:51:00
Unnamed: 3                                                                         California
Unnamed: 4                                          Interruption of Firm Power (Unit Tripped)
Unnamed: 5                                                                                240
Unnamed: 6                                                                             1 PG&E
Unnamed: 7                                                                2002-07-19 16:30:00
Name: 16, dtype: object
Table B.2.                                          2002-07-20 00:00:00
Major Disturbances and Unusual Occurrences, 2002                   NPCC
Unnamed: 2                                                     12:40:00
Unnamed: 3                                                     New York
Unnamed: 4                                                         Fire
Unnamed: 5                                                          278
Unnamed: 6                                                        63500
Unnamed: 7                                          2002-07-20 20:12:00
Name: 17, dtype: object
Table B.2.                                          August
Major Disturbances and Unusual Occurrences, 2002       NaN
Unnamed: 2                                             NaN
Unnamed: 3                                             NaN
Unnamed: 4                                             NaN
Unnamed: 5                                             NaN
Unnamed: 6                                             NaN
Unnamed: 7                                             NaN
Name: 18, dtype: object
Table B.2.                                                 2002-08-02 00:00:00
Major Disturbances and Unusual Occurrences, 2002                          MAIN
Unnamed: 2                                                            12:43:00
Unnamed: 3                                                            Illinois
Unnamed: 4                                          Interruption of Firm Power
Unnamed: 5                                                                 232
Unnamed: 6                                                               53565
Unnamed: 7                                                 2002-08-02 18:36:00
Name: 19, dtype: object
Table B.2.                                                 2002-08-09 00:00:00
Major Disturbances and Unusual Occurrences, 2002                          SERC
Unnamed: 2                                                            08:23:00
Unnamed: 3                                                             Florida
Unnamed: 4                                          Interruption of Firm Power
Unnamed: 5                                                                  51
Unnamed: 6                                                               25000
Unnamed: 7                                                 2002-08-09 12:13:00
Name: 20, dtype: object
Table B.2.                                                 2002-08-25 00:00:00
Major Disturbances and Unusual Occurrences, 2002                          WSCC
Unnamed: 2                                                            03:41:00
Unnamed: 3                                                          California
Unnamed: 4                                          Interruption of Firm Power
Unnamed: 5                                                                 120
Unnamed: 6                                                              1 PG&E
Unnamed: 7                                                 2002-08-25 09:17:00
Name: 21, dtype: object
Table B.2.                                          2002-08-28 00:00:00
Major Disturbances and Unusual Occurrences, 2002                   SERC
Unnamed: 2                                                     14:09:00
Unnamed: 3                                                      Florida
Unnamed: 4                                               Severe Weather
Unnamed: 5                                                         67.6
Unnamed: 6                                                        25000
Unnamed: 7                                          2002-08-28 15:38:00
Name: 22, dtype: object
Table B.2.                                          October
Major Disturbances and Unusual Occurrences, 2002        NaN
Unnamed: 2                                              NaN
Unnamed: 3                                              NaN
Unnamed: 4                                              NaN
Unnamed: 5                                              NaN
Unnamed: 6                                              NaN
Unnamed: 7                                              NaN
Name: 23, dtype: object
Table B.2.                                                          2002-10-03 00:00:00
Major Disturbances and Unusual Occurrences, 2002                                    SPP
Unnamed: 2                                                                     03:33:00
Unnamed: 3                                          Coastal Areas of Southern Louisiana
Unnamed: 4                                                               Hurricane Lily
Unnamed: 5                                                                          NaN
Unnamed: 6                                                                       242910
Unnamed: 7                                                          2002-10-12 00:00:00
Name: 24, dtype: object
Table B.2.                                          November
Major Disturbances and Unusual Occurrences, 2002         NaN
Unnamed: 2                                               NaN
Unnamed: 3                                               NaN
Unnamed: 4                                               NaN
Unnamed: 5                                               NaN
Unnamed: 6                                               NaN
Unnamed: 7                                               NaN
Name: 25, dtype: object
Table B.2.                                                      2002-11-06 00:00:00
Major Disturbances and Unusual Occurrences, 2002                               WSCC
Unnamed: 2                                                                 22:00:00
Unnamed: 3                                          Northern and Central California
Unnamed: 4                                                             Winter Storm
Unnamed: 5                                                                      270
Unnamed: 6                                                                   939000
Unnamed: 7                                                         Noon November 10
Name: 26, dtype: object
Table B.2.                                          2002-11-17 00:00:00
Major Disturbances and Unusual Occurrences, 2002                   NPPC
Unnamed: 2                                                     15:48:00
Unnamed: 3                                                Northport, NY
Unnamed: 4                                                Cable Tripped
Unnamed: 5                                                            0
Unnamed: 6                                                            0
Unnamed: 7                                                      Unknown
Name: 27, dtype: object
Table B.2.                                                 None
Major Disturbances and Unusual Occurrences, 2002            NaN
Unnamed: 2                                                 None
Unnamed: 3                                          Norwalk, CT
Unnamed: 4                                                  NaN
Unnamed: 5                                                  NaN
Unnamed: 6                                                  NaN
Unnamed: 7                                                  NaN
Name: 28, dtype: object
Table B.2.                                                              2002-11-17 00:00:00
Major Disturbances and Unusual Occurrences, 2002                                       NPCC
Unnamed: 2                                                                         06:00:00
Unnamed: 3                                          Northwest and North Central Connecticut
Unnamed: 4                                                                        Ice Storm
Unnamed: 5                                                                              NaN
Unnamed: 6                                                                           224912
Unnamed: 7                                                              2002-11-21 08:00:00
Name: 29, dtype: object
Table B.2.                                          December
Major Disturbances and Unusual Occurrences, 2002         NaN
Unnamed: 2                                               NaN
Unnamed: 3                                               NaN
Unnamed: 4                                               NaN
Unnamed: 5                                               NaN
Unnamed: 6                                               NaN
Unnamed: 7                                               NaN
Name: 30, dtype: object
Table B.2.                                          2002-12-03 00:00:00
Major Disturbances and Unusual Occurrences, 2002                    SPP
Unnamed: 2                                                     18:30:00
Unnamed: 3                                                     Arkansas
Unnamed: 4                                                    Ice Storm
Unnamed: 5                                                          NaN
Unnamed: 6                                                        43000
Unnamed: 7                                          2002-12-09 22:30:00
Name: 31, dtype: object
Table B.2.                                                          2002-12-11 00:00:00
Major Disturbances and Unusual Occurrences, 2002                                   SERC
Unnamed: 2                                                                     13:09:00
Unnamed: 3                                          Northern Virginia to Fredericksburg
Unnamed: 4                                                                 Winter Storm
Unnamed: 5                                                                           63
Unnamed: 6                                                                       130000
Unnamed: 7                                                          2002-12-13 22:00:00
Name: 32, dtype: object
Table B.2.                                                              None
Major Disturbances and Unusual Occurrences, 2002                         NaN
Unnamed: 2                                                              None
Unnamed: 3                                          Staunton to Harrisonburg

In [11]:
#Step 1: Load workbook so that we can read the data from the excel sheet with openpyxl. Retrieve the sheet names.

# FYI There are additional reading options to keep in mind: read_only loads a spreadsheet in read-only mode allowing you to open very large Excel files.
# data_only ignores loading formulas and instead loads only the resulting values.

from openpyxl import load_workbook
excel_workbook = load_workbook(filename='DOE_Electric_Disturbance_Events.xlsx')
excel_sheetnames = excel_workbook.sheetnames
sheet = excel_workbook.active

1000

In [ ]:
# NOTE: I have lost some of the merged cell data from the area column of 2002 sheet, to revisit and look at data dictionary for better understanding